<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/232d1b24-e1c3-4991-8df9-459d613cdbcc/resourceGroups/rg-uat-xxxx-iis01/providers/Microsoft.Web/sites/appservice-xxxx-test-publish-appoffline-v5</ResourceId>
    <ResourceGroup>rg-xxxx-iis01</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://appservice-xxxx-test-publish-appoffline-v5.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>appservice-xxxx-test-publish-appoffline-v5.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>appservice-xxxx-test-publish-appoffline-v5</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$appservice-xxxx-test-publish-appoffline-v5</UserName>
    <UserPasswordForWppTargetFile>xxxx-UserPasswordForWppTargetFile</UserPasswordForWppTargetFile>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>